{% extends 'base.html.twig' %}

{% block body %}
    <input type="checkbox" id="auth" checked disabled> Авторизация
    <input type="checkbox" id="reg"> Регистрация <br>
    <form method="post" action="{{ url('identification') }}" id="signIn">
        Логин: <input type="text" name="login" maxlength="20"> <br>
        Пароль: <input type="password" name="password" maxlength="20"> <br>
        <div> {{ message }}</div>
        <input type="hidden" name="signIn">
        <input type="submit" value="Войти">
    </form>
    <form method="post" action="{{ url('identification') }}" id="signUp" hidden>
        Логин: <input type="text" name="login" maxlength="20"> <br>
        Пароль: <input type="password" name="password" maxlength="20"> <br>
        ФИО: <input type="text" maxlength="80"> <br>
        Телефон: <input type="tel">
        <div> {{ message }}</div>
        <input type="hidden" name="signUp">
        <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/identification.js"></script>
{% endblock %}
